@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root{
    --fonte1:'Caveat', cursive;
    --fonte2:'Kalam', cursive;
    --fonte3:'Verdana', Geneva, Tahoma, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-width: 95vw;
    background-color: darkslategray;
}

header{
    background-color: black;
    color: white;
    text-align:center;

}

header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 6vw;
}

header>p{
    padding-bottom: 50px;
    font-size: 1em;
    font-family: var(--fonte3);
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding: 10vh 0vh 10vh 30px;
    line-height: 3em;
    font-family: var(--fonte2);
    font-size: 3vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(58, 57, 57);
    color: white;

}

section.imagem>p{
    background-color: rgba(0, 0, 0, 0.507);
    display: inline-block;
    padding: 5px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin: auto;
} 





