@charset "UTF-8";

/* configurações de tela vertical */

body{
    background-image: url(../pacote-imagens-cap25/imagens/cev-portrait.jpg);

    background-repeat: no-repeat;
    background-position: center bottom;
}
