@charset "UTF-8";

/* configurações gerais */

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    width: 100vw;
    height: 100vh;
    

    background-color: #233EFF;
    
    background-size:contain;
    background-repeat: no-repeat;
}

h1{
    padding-top: 15px;
    font-size: 170%;
    text-align: center;
    color: white;
}